<% include includes/header%>
<h1>sign up page</h1>

<form action="/register" method="POST">
<input type="text" name="username" placeholder="username">
<input name="password" placeholder="password" type="password">
<button class="btn btn-md btn-primary">Submit</button>
</form>









<% include includes/footer%>
